.brown-background{
    background-color: #4B4B4B;
}

.soft-yellow-background{
    background-color: #FFF9E3;
}

.nav-pills .nav-link {
    color: #FFFFFF;
}

.nav-item .btn-primary{
    background-color: #FFD700;
    color: #4B4B4B;
}

